body {
  margin: 0;
  overflow-x: hidden; /* Impede rolagem lateral global */
}

header {
  position: relative;
  z-index: 50;
}

#carousel .item {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  background-color: #e0e7ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  scroll-snap-align: start;
}

/* Chrome, Safari e Opera */
#carousel::-webkit-scrollbar {
  display: none;
}

/* Esconde a scrollbar em geral usando classe utilitária */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

/* Estilo geral do contêiner */
.container {
  width: 66.67%; /* Define a largura do contêiner */
  padding: 16px; /* Espaçamento interno */
  margin: 0 auto; /* Centraliza o contêiner */
}

/* Estilo do contêiner das categorias */
.category-container {
  display: flex;
  flex-wrap: wrap;
}

/* Estilo de cada categoria */
.category-content {
  flex: 1 1 30%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo do título da categoria */
.category-content h3 {
  font-weight: bold;
  color: #1d4ed8;
  margin-bottom: 8px;
}

/* Estilo da lista de categorias */
.category-content ul {
  list-style-type: none;
  padding: 0;
}

/* Estilo de cada item da lista */
.category-content li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

/* Remove a linha inferior do último item */
.category-content li:last-child {
  border-bottom: none;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  #menu {
    flex-direction: column;
    width: 100%;
  }

  #menu li {
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .category-content {
    flex: 1 1 100%;
  }
}
